body {
    margin: 0px;
}

/* Атомарные классы */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 10px 35px;
    color: white;
    background: #e84545;
    text-decoration: none;
    border-radius: 2px;
}

/* Основные стили */

header {
    background: url("images/header.png");
    padding-top: 30px;
    padding-bottom: 80px;
}
header .row.c1 {
    display: flex;
    justify-content: space-between;
}
nav a {
    color: #c0c2ca;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
}
header .row.c2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 120px;
}
header .descr {
    text-transform: none;
    margin-bottom: 60px;
    text-align: center;
}

#advantage .container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    text-align: center;
}
#advantage h5 {
    text-transform: uppercase;
}
#advantage p {
    color: #80858b;
}

#our_works .title {
    display: flex;
    justify-content: space-between;
}
#our_works .inner {
    display: flex;
    flex-wrap: wrap;

}
#our_works .item {
    display: block;
    width: 25%;

}

#team  {

}

#team .inner {
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;

}
#team .staff {
    widows: 25%;
    padding: 10px;
}


#download {
    margin: 100px 0px;
    text-align: center;
}

#download p {
font-size: 40px;
margin-bottom: 5px;
}

#download h3 {
    margin-top: 5px;
    margin-bottom: 40px;
}

#creator {
    background-color: #313454;
    height: 100px;
    text-align: center;
    color: #808080;
}
#creator .text{
    padding: 30px;
}
#creator p {
    margin: 0;
    line-height: 20px;
}